.home-container {
    text-align: center;
  }
  
  .home-title {
    color: #90a8a6; /* Cor do título em tom pastel */
  }
  
  .home-description {
    color: #b5c1be; /* Cor da descrição em tom pastel */
  }
  